fileTypes: [
  "o8", "8o", "oct", "octo"
]
name: "Octo"
patterns: [
    { include: "#code" }
]
repository:
    code:
        patterns: [
          { include: "#numbers" },
          { include: "#comments" },
          { include: "#keywords" },
          { include: "#labels" },
          { include: "#macros"}
        ]
    comments:
        begin: "#"
        end: "$\\n?"
        name: "comment.line.octo"

    labels:
        patterns:
            [
                {
                    begin: "(?<=^|\\s)(\:(\\s)+)"
                    end: "(?=\\s|#)"
                    name: "meta.function.octo"
                    patterns:
                        [
                            match: "((\\w|.)+?)"
                            name: "entity.name.function.octo"
                        ]
                }
            ]
    macros:
        patterns:
            [
                {
                    begin: "(?<=^|\\s)(\:)"
                    end: "(?=\\s)"
                    name: "meta.macro.octo"
                    patterns:
                        [
                            {
                                match: "(alias|const|next)"
                                name: "storage.modifier.octo"
                            },
                            {
                                match: "(unpack)"
                                name: "support.function.octo"
                            },
                            {
                                match: "(breakpoint)"
                                name: "support.other.octo"
                            }
                        ]
                }
            ]
    numbers:
        patterns:
            [
                {
                    match: "(?<=^|\\s)(\\+|-)?((0(x|X)[0-9a-fA-F]+)|(0(b|B)[01]+)|(0(o|O)[0-7]+)|([0-9]+(\\.[0-9]+)?))(?=\\s)"
                    name: "constant.numeric.octo"
                }
            ]
    keywords:
        patterns:
            [
                #CHIP-8
                {
                    match: "(?<=^|\\s)(if|else|while|then|begin|end|loop|again)(?=\\s)"
                    name: "keyword.control.octo"
                },
                {
                    match: "(?<=^|\\s)(sprite|save|load|clear|bcd|random|return|;|jump|jump0)(?=\\s)"
                    name: "keyword.other.octo"
                },
                {
                    match: "(?<=^|\\s)(hex)(?=\\s)"
                    name: "variable.paramter.octo"
                },
                {
                    match: "(?<=^|\\s)(i|v[0-9A-Fa-f]|delay|buzzer)(?=\\s)"
                    name: "variable.language.octo"
                },
                {
                    match: "(?<=^|\\s)(\\:=|==|\\+=|!=|\\^=|\-=|=\-|&=|\\|=|>>=|<<=|key|\-key)(?=\\s)"
                    name: "keyword.operator.octo"
                },

                #SuperChip
                {
                    match: "(?<=^|\\s)(hires|lores|scroll-down|scroll-left|scroll-right|exit|saveflags|loadflags)(?=\\s)"
                    name: "keyword.other.octo"
                },
                {
                    match: "(?<=^|\\s)(bighex)(?=\\s)"
                    name: "variable.paramter.octo"
                },

                #XO-Chip
                {
                    match: "(?<=^|\\s)(plane|scroll-up|audio)(?=\\s)"
                    name: "keyword.other.octo"
                },
                {
                    match: "(?<=^|\\s)(long)(?=\\s)"
                    name: "variable.paramter.octo"
                }
            ]

scopeName: "source.octo"
